<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    logo
  </a>
</nav>
<div class="container">
  <p class="spaceup"></p>
<div class="row">
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name of cand</li>
        <li class="list-group-item">vote</li>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Button</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
